/*
    Author: Guillermo García
*/

div.separador:not(:last-of-type) { background-color:#000; height:2px; margin:20px 0 15px 10%; width:80%; }

div[id^="crear"]{ margin-top: 30px; width: 100%; }

.creacion{ height: 450px; left: 50%; margin: -225px 0 0 -225px; position: fixed; top:50%; width: 450px; }
.creacion div[id^="creacion"]{ background-color: rgba(200,200,200,0.85); border: 2px solid #4f4f4f; }


div[id^="creacion"] form div, div[id^="creacion"] form button { margin: 8px 0 8px 15px;; }
div[id^="creacion"] form button:first-of-type { left:20%; margin-left: -48px; position: relative; }
div[id^="creacion"] form button { left:40%; margin-left: -48px; position: relative; }
div[id^="creacion"] form button:last-of-type { left:60%; margin-left: -48px; position: relative; }
input[type="number"] { max-width: 60px; }

.grid-lateral,.grid2, .grid3{ display: grid; }

.grid-lateral{ grid-template-columns: 14.5% 84.5%; grid-column-gap: 1%; }
.grid2{ grid-template-columns: 45% 45%; grid-column-gap: 10%; }
.grid3{ grid-template-columns: 30% 30% 30%; grid-column-gap: 3%; margin-top: 25px; padding: 0 2%; }
.partidas { margin: auto; width: 80%; }
.partidas h3, .borrado{ display: inline-block; }
.partidas h2{ text-align: center; }
.partidas { margin-top: -9px; }
.edicionDatos, .borrado { float: right; margin-top: 15px; position: relative; }
.borrado{ margin-left: 30px; }

ul.personajes form{ margin-left: 12px; float:right; }
ul.personajes form button{ font-size:0.9em; margin-top: -9px; padding: 3px 6px; }
ul.personajes li { padding: 5px 0; }
ul.personajes li a { cursor: pointer; text-decoration: none; }